.flash-message {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.show__title {
    font-size: 22px;
    font-weight: bold;
    padding-left: 10px;
    margin: 50px auto 25px;
    width: 800px;
}

.show__table {
    width: 800px;
    background: #fff;
    margin: 40px auto;
    border-radius: 10px;
    border-collapse: collapse;
    border: none;
    table-layout: fixed;
    overflow: hidden;
}

.show__col-header {
    width: 30%;
}

.show__col-from {
    width: 25%;
}

.show__col-wave {
    width: 5%;
}

.show__col-to {
    width: 40%;
}

.show__table thead th {
    border-bottom: 2px solid #ddd;
}

.show__table-data,
.show__table-wave {
    text-align: center;
    font-weight: bold;
}

.show__table-data--wide {
    text-align: left;
    padding-left: 72px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.show__table tbody tr:not(:last-child) td,
.show__table tbody tr:not(:last-child) th {
    border-bottom: 2px solid #ddd;
}

.show__table-item-detail a {
    color: inherit;
}

.show__table-item-detail {
    color: #000;
    text-decoration: none;
    font-weight: bold;
}

.show__table-row-header {
    height: 30px;
}

.show__table-header {
    color: #666;
    text-align: left;
    padding-left: 60px;
    font-weight: bold;
}

.show__table-row {
    height: 70px;
}

.show__table-item {
    text-align: center;
    font-weight: bold;
}


.show__table-note {
    font-weight: bold;
    padding-left: 60px;
}

.show__table-button {
    width: 800px;
    margin: 0 auto;
    text-align: right;
}

.show__table-button-approve {
    border: none;
    background: #000;
    color: #fff;
    border-radius: 5px;
    padding: 10px 40px;
    font-size: 18px;
    font-weight: bold;
}

.show__table-button-approved {
    border: none;
    background: #666;
    color: #fff;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 18px;
    font-weight: bold;
}

.show__table td:last-child {
    padding-right: 85px;

}