.header {
    background: #000;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.header__nav-item a {
    color: inherit;
}

.header__nav-item {
    text-decoration: none;
    color: #fff;
    padding: 0 10px;
    font-size: 18px;
}

.header__nav-logout {
    background: #000;
    color: #fff;
    border: none;
    font-size: 18px;
}

body {
    background: #f3f3f3;
}