.auth__register-title {
    margin: 50px;
}

.auth__register-title-text {
    text-align: center;
}

.auth__register-form {
    width: 50%;
    margin: 20px auto;
}

.auth__register-label {
    font-weight: bold;
}

.auth__register-item {
    text-align: cener;
    width: 100%;
    margin: 0 auto;
    height: 30px;
    margin-top: 3px;
    margin-bottom: 40px;
}

.auth__register-input {
    width: 100%;
    border-radius: 3px;
    border: 1px solid #000;
    height: 30px;
}

.auth__register-button {
    margin-top: 70px;
    width: 100%;
    height: 40px;
}

.auth__register-button-submit {
    width: 100%;
    background: #000;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    height: 40px;
}

.auth__register-login a {
    color: inherit;
    text-decoration: none;
}

.auth__register-login {
    color: #0d71e4;
    text-align: center;
}

.auth__error {
    color: #ff5555;
    font-weight: bold;
}